@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.box {
  border: 5px solid rgb(218, 218, 218);
  width: 400px;
  background-color: aliceblue;
  border-radius: 4px;
  text-align: center;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.item-img {
  width: 280px;
  height: 250px;
}

body {
  background-image: url('https://i.pinimg.com/564x/0d/12/da/0d12da9fa305616fa8949d2266708cda.jpg');
  background-size: cover;
  background-position: center;
  position: relative; /* 가상 요소를 위한 기준으로 설정 */
  height: 100vh; /* 화면 전체 높이에 맞게 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MaplestoryOTFBold';
}

.start {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.start button {
  border: 3px solid black;
  border-radius: 6px;
  background-color: white;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 130px;
  font-size: 40px;
  font-family: 'MaplestoryOTFBold';
}

#inputName {
  margin-bottom: 20px;
  outline: none;
  border: 3px solid black;
  border-radius: 6px;
  height: 50px;
  font-family: 'MaplestoryOTFBold';
  width: 190px;
}
input[type='text']::placeholder {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.win {
  border: 5px solid #8dba7f;
  color: #8dba7f;
}
.tie {
  border: 5px solid #5796d9;
  color: #5796d9;
}
.lose {
  border: 5px solid #cc5e70;
  color: #cc5e70;
}

.game-btn {
  border: none;
  background: none;
  outline: none;
}

i {
  font-size: 60px;
  cursor: pointer;
  margin-left: 20px;
  color: white;
}

i:hover {
  color: #d0dce9;
}

@media only screen and (max-width: 768px) {
  .box {
    width: 260px;
    height: 200px;
    margin-bottom: 20px;
  }
  .item-img {
    width: 80%;
    height: 70%;
    margin-top: 5px;
  }
  .main {
    flex-direction: column;
    width: 400px;
    align-items: center;
  }
  .btn-area {
    flex-direction: row;
  }
  .sci {
    position: relative;
    right: 10px;
    top: 3px;
  }
  .rock {
    position: relative;
    right: 7px;
  }
  .paper {
    position: relative;
    right: 9px;
  }
  h3 {
    display: none;
  }

  .start button {
    width: 170px;
    height: 100px;
    font-size: 25px;
  }
  #inputName {
    width: 160px;
  }
  h1,
  h2 {
    font-size: 18px;
    margin: 0;
  }
  h2 {
  }
}
