.box {
  border: 2px solid black;
  width: 500px;
  margin-left: 20px;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.win {
  border: 5px solid green;
  color: green;
}
.tie {
  border: 5px solid rgb(0, 0, 0);
  color: black;
}
.lose {
  border: 5px solid rgb(228, 137, 102);
  color: rgb(228, 137, 102);
}
